<!-- <div class="header">
  
  <div class="button-row">
    <button mat-button>Basic</button>
    <button mat-button color="primary">Primary</button>
    <button mat-button color="accent">Accent</button>
    <button mat-button color="warn">Warn</button>
    <button mat-button disabled>Disabled</button>
    <a mat-button routerLink=".">Link</a>
  </div>
</div> -->
<div class="header">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span class="header--title"><mat-icon style="width: 3.7rem; height: 2rem">home</mat-icon></span>
  
      <span class="header--spacer"></span>
      
      <button mat-button>Home</button>
      <button mat-button>Courses</button>
      <button mat-button>Contact</button>
      <button mat-button>About Us</button>      
    </mat-toolbar-row>
  </mat-toolbar>
</div>

