<footer>
  <div class="footer">
    <div class="icon_block">
    <a class="icon"><mat-icon fontSet="fa" fontIcon="fa-facebook-f"></mat-icon></a>
   
   <a class="icon"> <i class="fa fa-google-plus" aria-hidden="true"></i></a>
  </div>
  <div class="info">
      <i class="fa fa-envelope-o" aria-hidden="true"><h3>hang.phamthanh281@gmail.com</h3><br>
     <h3>son@gmail.com</h3> </i>
      <i class="fa fa-phone" aria-hidden="true"><h3>0917 297 970</h3></i>
    <h3>366 Nguyễn Trãi, Phường 8, Quận 5, Hồ Chí Minh</h3>
  </div>
    <!-- <i class="fa fa-facebook" aria-hidden="true"></i> -->
  </div>
</footer> 