.header {
    position: fixed;
    z-index: 3;
    top: 0;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
    ;
}

.header--spacer {
    flex: 1 1 auto;
}

.header--title {
    img{
        margin-top: 8px;
        width: 55px;
        height: 58px;
    }

}

.header--title:hover {
    animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
    transform: translate3d(0, 0, 0);
    img{
        box-shadow:  0 0 10px 5px rgba(0,0,0,0.6);
		-moz-box-shadow: 0 0 10px  5px rgba(0,0,0,0.6);
		-webkit-box-shadow: 0 0 10px 5px rgba(0,0,0,0.6);
        -o-box-shadow: 0 0 10px 5px rgba(0,0,0,0.6);
        border-radius: 50%; 
    }
}

.profile{
    background: #fff;
    margin-top: -2px;
    margin-left: 1.8rem;
    border: .5px solid #cecece;
    padding: 4px 10px;
    .name{
        float: left;
    color: #525252;
    font-size: 1.2rem;
    padding-right: .8rem;
    padding-top: 3.8px;
    }
    .name:hover{
        color: #0c0c0c;
        text-decoration: underline;
    }
    .avt{
        float: left;
        img{
            padding-top: 4px;
            width: 32px;
            height: 32px;
            
        }
        img:hover{
            animation: shake 0.99s cubic-bezier(.36, .07, .19, .97) both;
            transform: translate3d(0, 0, 0);
        }
        // margin-top: .3rem;
    }
}

@keyframes shake {
    10%,
    90% {
        transform: translate3d(-1px, 0, 0);
    }
    20%,
    80% {
        transform: translate3d(2px, 0, 0);
    }
    30%,
    50%,
    70% {
        transform: translate3d(-4px, 0, 0);
    }
    40%,
    60% {
        transform: translate3d(4px, 0, 0);
    }
}

.setting-btn {
    min-width: auto;
}

.login {
    background: #e8e8e8;
    border: 2px solid #494958;
    color: #de1358;
    padding: 13px 15px;
    margin-left: 1rem;
    text-transform: uppercase;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    text-align: center;
    line-height: 1.25;
    border-radius: 0.25rem;
    font-weight: bolder;
    font-size: 1rem;
    -webkit-box-shadow: 1px 1px 8px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1px 1px 8px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 1px 1px 8px 0px rgba(0, 0, 0, 0.75);
}

.login::after {
    width: 100%;
    height: 0;
    top: 50%;
    left: 50%;
    background: #fff;
    opacity: 0;
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
    -moz-transform: translateX(-50%) translateY(-50%) rotate(45deg);
    -ms-transform: translateX(-50%) translateY(-50%) rotate(45deg);
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
    content: '';
    position: absolute;
    z-index: -1;
}

.login:hover {
    color: #1f24fd;
    background: #ffffff;
    border: 1px solid #dee3ff;
    font-size: 1.2rem;
    -webkit-box-shadow: 1px 2px 8px 1px rgba(0, 0, 0, 0.86);
    -moz-box-shadow: 1px 2px 8px 1px rgba(0, 0, 0, 0.86);
    box-shadow: 1px 2px 8px 1px rgba(0, 0, 0, 0.86);
}

.mat-button-toggle-group {
    box-shadow: none;
}

.mat-button-toggle {
    color: #fff;
    font-size: 1rem;
}

.mat-button-toggle-checked {
    background: #0e2984;
}