.header-title{
    text-align: center;   
}
.header-title > h1{
    font-weight: bolder;   
}
.block{
    width: 100%;
    margin: 0 .5em;
}
.mat-form-field{
    font-size: 14px;
    align-items: flex-start;
    width: 100%;
}
.dialog-actions{
    flex-flow: row-reverse;
}
.saveBtn{
    background-color: blue;
    color:white;
}
.input-category{
    width: 8em;
}
.block--category{
    display: flex;
}