<div class="modal">
  <div class="header-title">
    <h1 mat-dialog-title>{{title}}</h1>
  </div>
  <div mat-dialog-content>
    <mat-grid-list cols="2" rowHeight="6.5em">
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <div class="block">
          <h5>What's the course's name?</h5>
          <mat-form-field>
            <input matInput [(ngModel)]="course.name" placeholder="Course's name">
          </mat-form-field>
        </div>
      </mat-grid-tile>

      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <div class="block">
          <h5>Add list order</h5>
          <mat-form-field>
            <mat-select [formControl]="formControlOrderList" (selectionChange)="onOrderListChanged($event)" placeholder="list order"
              multiple>
              <mat-option *ngFor="let course of coursesList" [value]="course.key">
                {{ course.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </mat-grid-tile>

      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <div class="block">
          <h5>Choose teacher for course!</h5>
          <mat-form-field>
            <mat-select (selectionChange)="onTeacherChanged($event)" [(ngModel)]="teacherDefault" placeholder="Teacher">
              <mat-option *ngFor="let teacher of teachers" [value]="teacher.key">
                {{ teacher.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </mat-grid-tile>

      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <div class="block">
          <h5>Choose category for course!</h5>
          <div class="block--category">
            <a mat-icon-button class="create-category-btn" color="primary" matTooltip="Create new category" (click)="showCreateCategoryModal()">
              <mat-icon class="icon-create">add</mat-icon>
            </a>
            <mat-form-field>
              <mat-select (selectionChange)="onCategoryChanged($event)" [(ngModel)]="categoryDefault" placeholder="Category">
                <mat-option *ngFor="let category of categories" [value]="category.key">
                  {{ category.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </mat-grid-tile>

      <mat-grid-tile [colspan]="2" [rowspan]="1">
        <div class="block">s
          <h5>Describe about the course!</h5>
          <mat-form-field>
            <textarea matInput rows="3" placeholder="Fill description" [(ngModel)]="course.description">{{course.description}}</textarea>
          </mat-form-field>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
  <div mat-dialog-actions class="dialog-actions">
    <button mat-button [mat-dialog-close]="course" cdkFocusInitial class="save-btn">Save</button>
    <button mat-button class="close-btn" (click)="onCancelClick()">Cancel</button>
  </div>
</div>