<mat-toolbar >
    <mat-toolbar-row>
      <img class="banner" src="assets/img/about_2.png">
    </mat-toolbar-row>
    <mat-toolbar-row class="sen">
      <h1><strong>Learn anytime, anywhere</strong></h1>
    </mat-toolbar-row>
    
    <mat-toolbar-row class="sen">
      <h3>Enjoy our free online courses, wherever you are and whenever you want. Access course content on mobile, tablet or desktop.</h3>
    </mat-toolbar-row>
  <mat-toolbar-row class="ourCourse">
   <img class="avt_main" src="assets/img/about.png">
  
   <p>
    <strong class="title_main">Our courses <br></strong>
    <br>
    We offer a diverse selection of courses from leading universities and cultural institutions from around the world. These are delivered one step at a time, and are accessible on mobile, tablet and desktop, so you can fit learning around your life.
    <br><br>
    We believe learning should be an enjoyable, social experience, so our courses offer the opportunity to discuss what you’re learning with others as you go, helping you make fresh discoveries and form new ideas.
   </p>
  </mat-toolbar-row>
  
  
  <mat-toolbar-row class="history">
    <p class="ourHistory">
      <strong class="title_main">Our History <br></strong>
      <br>
      
  Created by the merger of CSC and the Enterprise Services business of Hewlett Packard Enterprise, 
  DXC Technology boasts a long and proud history of innovation, service and value.
      <br><br> In 1959, computer analysts Roy Nutt and Fletcher Jones pooled $100 to form CSC, providing computer manufacturers with complex programs known as assemblers, compilers and operating systems. 
      During the next five decades, CSC grew rapidly to serve governments and enterprises worldwide.</p>
      <img  src="assets/img/history.jpg">
    </mat-toolbar-row>
    <mat-toolbar-row class="history">
      <p class="historyBelow">
      In 1962, Electronic Data Systems was founded in Dallas, Texas, by Ross Perot. EDS, a pioneer in IT outsourcing, grew from Perot’s initial $1,000 investment to a global enterprise that helped 500 million passengers board planes, processed 13 billion credit card transactions and performed 2.4 billion healthcare transactions. Hewlett Packard acquired Electronic Data Systems in 2008, and soon created HP Enterprise Services, focused on transforming enterprises and achieving measurable business outcomes. In November 2015, Hewlett Packard Company split into HP Inc. 
      and Hewlett Packard Enterprise, and the Enterprise Services business became part of HPE. 
      <br><br>
      Through their histories, both CSC and HPE Enterprise Services were known for evolving to keep pace with the ever-changing world of technology – and for offering clients a fresh perspective built on a rich heritage of innovation and industry-leading services.
      <br><br>
      Today, the strategic combination of these two complementary businesses creates the world’s leading independent, end-to-end IT services company. With $25 billion in annual revenues and nearly 6,000 clients in more than 70 countries, DXC Technology is uniquely positioned to lead digital transformations – creating greater value for clients, partners and shareholders; as well as presenting new growth opportunities for its people.
    </p>
    
  </mat-toolbar-row>
  
  <mat-toolbar-row>
    <img class="img_final" src="assets/img/classroom.jpg">
  </mat-toolbar-row>
  </mat-toolbar>