

<div class="container">
    <div class="top_title">
        <span class="a-section-label">Start learning now</span>
        <div class="m-banner--header__title">
          <h1 class="a-heading a-heading--large">
              Online courses</h1>
        </div>
        <div class="content">
    <p>
        Choose from hundreds of online courses from top universities and specialist organisations. Browse by category and start date, to find the right one for you…
    </p>
        </div>
    </div>
</div>