<app-header></app-header>

<div class="container">
    <div class="top_title">
        <span class="a-section-label">Start learning now</span>
        <div class="m-banner--header__title">
            <h1 class="a-heading a-heading--large">
                Online courses</h1>
        </div>
        <div class="content">
            <p>
                Choose from hundreds of online courses from top universities and specialist organisations. Browse by category and start date, to find the right one for you…
            </p>
        </div>
    </div>

    <div>
        <button class="btn_signIn" mat-raised-button color="primary"><strong>Sign In</strong></button>
    </div>
    <div>
        <form>
            <mat-form-field class="form_select">
                <mat-select placeholder="Categories" [(ngModel)]="selectedValue" name="food">
                    <mat-option *ngFor="let food of foods" [value]="food.value">
                        {{food.viewValue}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <p class="show_value"> Selected value: {{selectedValue}} </p>
        </form>
    </div>
    <div>
        <input class="search_input" type="search" placeholder="Search">
        <button class="btn_search" type="submit"><mat-icon>search</mat-icon></button>
    </div>
    <hr class="hr_main">


    <div class="course_main">
        <div class="column" *ngFor="let u of e ">
            <div class="col_course">
                <img src="{{u.imageUrl}}">
                <h4>{{u.name}}</h4>
                <p>{{u.description}}</p>
                <button><strong>Join now</strong></button>
            </div>

        </div>
    </div>
</div>

<app-footer></app-footer>