
.container {
    margin-top: 7rem;
    max-width: 1270px;
}

.top_title {
    text-align: center;
}

.a-section-label {
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    line-height: 1.3125;
    font-size: 1rem;
    line-height: calc(1em + 5px);
}

.m-banner--header__title {
    margin-bottom: 25px;
    margin-top: 0;
}

.a-heading--large {
    line-height: 1.10826;
    font-size: 3rem;
    line-height: calc(1em + 5px);
    font-weight: bold;
    margin-top: 0.5em;
    margin-bottom: 0.7em;
}

.content {
    font-size: 1rem;
    line-height: calc(1.25em + .8rem);
    margin-top: 2rem;
    margin-bottom: 2rem;
    max-width: 32em;
    margin-left: auto;
    margin-right: auto;
}

.search_input {
    margin-right: 3rem;
    width: 13rem;
    height: 2rem;
    border-radius: 5px;
    float: right;
}

.btn_search {
    margin-top: .2rem;
    border: 0px none #000000;
    background: #ffffff00;
    z-index: 1;
    float: right;
    margin-right: -13rem;
}

.hr_main {
    width: 95%;
    box-sizing: border-box;
    position: absolute;
    margin-top: 2.5rem;
    margin-left: 2rem;
}
.course_main{
    margin-top: 8rem;
    margin-left: 7%;
}
.column{
    width: 94%;
}
.col_course{
    float: left;
    margin-left: 2rem;
    margin-bottom: 3rem;
    width: 20%;
    height: 22rem;
    background: #fdfdf2;
    text-align: left;
    line-height: 1.3;
    font-size: 15px;
}
.col_course:hover{
    background: rgba(185, 185, 185, 0.575);
}
.col_course img{
    width: 100%;
    height: 45%;
}
.col_course h4{
    margin-left: .4rem;
}
 .col_course p{
     color: #4f5055;
     margin-top: -.7rem;
     font-size: 11px;
     line-height: 1.39063; 
     text-overflow:ellipsis;
     text-align: left;
     margin-left: .4rem;
 }
 .col_course button{
     margin-left: .7rem;
     border: 1px solid #3f51b5;
     color: #3f51b5;
     background: transparent;
     height: 2rem;
     width: 7rem;
 }
 .col_course button:hover{
     color: #ffffff;
     background: #3f51b5;
 }