.container {
    display: flex;
    flex-direction: column;
    height: auto;
    min-width: 300px;
    margin: 0 1em 1.2em 1em; 
  }
  .mat-cell{
    padding: .3em;
  }
  .actionBtns {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    a{
      min-width: auto;
    }
  }
  .search{
    display: flex;
    flex-flow: wrap;
  }
  .search > div{
    padding: 8px 24px 0;
    width: 49%;
  }
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  .button-row{
    display: flex;
    align-items: center;
    margin: .5em 1em;
    .title-header{
      h3{
        margin-left:.3em;
        color: rgb(51, 24, 114);
      }
    }
    a{
      &:hover{
        background-color: rgba(33, 42, 95, 0.89);
      }
      .icon-create{
        font-weight: bold;
      }
    }            
  }

