<div class="container">
    <div class="top_title">
        <span class="a-section-label">Start learning now</span>
        <div class="m-banner--header__title">
            <h1 class="a-heading a-heading--large">
                Online courses</h1>
        </div>
        <div class="content">
            <p>
                Choose from hundreds of online courses from top universities and specialist organisations. Browse by category and start date,
                to find the right one for you…
            </p>
        </div>
    </div>

    <div class="sign-in_btn">
        <button mat-button *ngIf="!hideSignIn" class="btn_signIn" mat-raised-button color="primary" routerLink="/sign-up">
            <strong>Sign Up</strong>
        </button>
    </div>
    <div class="search--filter">
        <div class="form-filter-category">
            <mat-form-field class="category">
                <mat-select (selectionChange)="onSelectionChanged($event)" placeholder="Categories" [(ngModel)]="selectedDefault">
                    <mat-option *ngFor="let category of categories" [value]="category.key">
                        {{ category.name }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="box-search">
            <div class="container-box">
                <span class="icon--search">
                    <mat-icon>search</mat-icon>
                </span>
                <input class="search_input" id="search" type="search" placeholder="Search" (keyup)="onKeySearch($event)">
            </div>
        </div>
    </div>
    <hr class="hr_main">
    <div class="amount">
        <h5>Amount of courses: {{countCourses}}</h5>
    </div>
    <div class="course_main">
        <div class="card-course" *ngFor="let course of filterCourses ">
            <app-course-card [course]="course"></app-course-card>
        </div>
    </div>
</div>