<div class="container">
    <div class="top_title">
        <span class="a-section-label">Start learning now</span>
        <div class="m-banner--header__title">
            <h1 class="a-heading a-heading--large">
                Online courses</h1>
        </div>
        <div class="content">
            <p>
                Choose from hundreds of online courses from top universities and specialist organisations. Browse by category and start date,
                to find the right one for you…
            </p>
        </div>
    </div>

    <div class="sign-in_btn">
        <button class="btn_signIn" mat-raised-button color="primary" routerLink="/login">
            <strong>Sign In</strong>
        </button>
    </div>
    <div class="form-filter-category">
        <mat-form-field>
            <mat-select (selectionChange)="onSelectionChanged($event)" placeholder="Categories" [(ngModel)]="selectedDefault">
                <mat-option *ngFor="let category of categories" [value]="category.key">
                    {{ category.name }}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="bar-search">
        
        <div>
            <input class="search_input" type="search" placeholder="Search" (keyup)="onKeySearch($event)">
            <button class="btn_search" type="submit">
                <mat-icon>search</mat-icon>
            </button>
        </div>
    </div>
 

    <hr class="hr_main">
    <div class="amount">
        <div>
            <h5 class="amount-category">Amount of courses: {{countCourses}}</h5>
        </div>
    </div>
    <div class="course_main">
        <div class="column" *ngFor="let course of filterCourses ">
          <app-course-card class="column" [course]="course" 
          ></app-course-card>
        </div>
    </div>
</div>