<div class="container--login">
  <mat-grid-list cols="3" rowHeight="100%">
    <mat-grid-tile></mat-grid-tile>

    <mat-grid-tile class='login-element'>
      <div class="login-container">
        <div class="login-box-header">
          <span>
            Account Login
          </span>
        </div>

        <div class="login-box-body">
          <mat-grid-list cols="9" rowHeight="80px">
            <mat-grid-tile [rowspan]="1" class="login-icon">
              <mat-icon>person</mat-icon>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="7">
              <mat-input-container class="justifier">
                <input matInput placeholder="Username" text="text" [(ngModel)]="username">
              </mat-input-container>
            </mat-grid-tile>
          </mat-grid-list>

          <mat-grid-list cols="9" rowHeight="65px">
            <mat-grid-tile [rowspan]="1" class="login-icon">
              <mat-icon>vpn_key</mat-icon>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="7">
              <mat-input-container class="justifier">
                <input matInput placeholder="Password" [type]="hide ? 'password' : 'text'" [(ngModel)]="password">
                <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
              </mat-input-container>
            </mat-grid-tile>
          </mat-grid-list>

          <button mat-raised-button class="login-button" (click)="onLogin(username,password)">
            <mat-icon>input</mat-icon> Login
          </button>
          <div class="directiveBtn">
            <a routerLink="/">
              <mat-icon>keyboard_arrow_left
              </mat-icon>Back home</a>
              <a routerLink="/sign-up">
                Sign up<mat-icon>keyboard_arrow_right
                </mat-icon></a>
          </div>
          
        </div>
      </div>
    </mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
  </mat-grid-list>
</div>