.container--login{
    height: 100%;
    width: 100%;
    background-color: #1c1b1d;    
}
.container--login::before{
    background-image: url('/assets/pictures/bg-01.jpg');
    content: ' ';
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.4;
    background-repeat: no-repeat;
    background-position: 50% 0;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
}

.app-header{
	color: #fff;
    background-color: #e91e63;
    text-align: center;
    padding: 1%;
	-webkit-box-shadow: 2px 4px 58px -20px rgba(0,0,0,1);
	-moz-box-shadow: 2px 4px 58px -20px rgba(0,0,0,1);
	box-shadow: 2px 4px 58px -20px rgba(0,0,0,1);
}
 
.login-container{
	width: 100%;
  	height:auto;
  	padding: 0% !important;
}
 
.login-box-header{
	width: auto;
    text-align: center;
    vertical-align: middle;
    font-family: Ubuntu-Bold;
    font-weight: bolder;
    font-size: 2em;
    padding-bottom: 15%;
    color: #fff;
}
 
.login-box-body{
	width: auto;
	height:100%;
    padding: 5% 5% 10% 5%;
    border-radius: 1em;
    background-color: rgb(253, 253, 253);
	color: #d2d2d2;
}
 
.login-icon{
	margin-top: -2px;
}
 
.justifier {
	width: 100%;
	padding-bottom: 2%;
}
 
.login-button{
	width: 100%;
	padding:1.5% !important;	
    background-color: #673ab7;
    font-size: 1.5em;
    color: #fff !important;
}