<div class="header-title">
  <h1 mat-dialog-title>{{title}}</h1>
</div>
<div mat-dialog-content>

  <mat-radio-group class="radio-group">
    <mat-radio-button class="radio-button" *ngFor="let session of sessions" [value]="session">
      {{session.course.name}}
    </mat-radio-button>
  </mat-radio-group>

</div>
<div mat-dialog-actions>
  <button mat-button class="create-btn" [mat-dialog-close]="" cdkFocusInitial>Join</button>
  <button mat-button class="close-btn" (click)="onCloseClick()">No thanks</button>
</div>