.mat-radio-group {
    display: flex;
    flex-direction: column;
    border-collapse: collapse;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.39);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.39);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.39);
    padding: 0 .5rem;
    .mat-radio-button {
        border-bottom: 1px solid black;
    }
}

.mat-radio-button {
    padding: 1rem .3rem;
    width: 100%;
}

.inline-radio-btn {
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    width: 100%;
    height: 90%;
}

.column {
    margin-left: 7rem;
    text-align: center;
}

.create-btn .close-btn {
    margin-left: 45%;
    margin-top: 1.7rem;
    padding: .3rem .5rem;
}

 ::ng-deep .create-btn {
    margin-left: 40%;
    margin-top: 1.5rem;
    border: 1px solid rgba(241, 67, 122, 0.877);
    color: #fff;
    font-size: 1.3rem;
    font-weight: bold;
    background: #ff4081;
    padding: .2rem 2rem;
}

 ::ng-deep .close-btn {
    margin-top: 1.5rem;
    border: 1px solid #fff;
    color: rgb(19, 18, 18);
    font-size: 1.3rem;
    padding: .2rem 2rem;
}

.header-title {
    color: rgb(63, 81, 181);
    text-align: center;
}

.mat-dialog-title {
    margin: 0 !important;
    font-size: 2.1rem !important;
    padding-bottom: 1.2rem;
}

.note {
    font-size: 1.5rem;
    margin-left: 15%;
    margin-top: 1.6rem;
}

.close {
    margin-left: 65%;
    margin-bottom: 1rem;
}