<footer>
    <div class="footer">
        <div class="icon_block">
            <a class="icon"><img src="assets/img/facebook.png"></a>

            <a class="icon"><img src="assets/img/gmail.png"></a>
            <a class="icon"><img src="assets/img/instagram.png"></a>
        </div>
        <div class="info">
            <i class="fa fa-envelope-o" aria-hidden="true"><h3>Phone: (84-8) 3923 8520 </h3><br></i>
            <i class="fa fa-phone" aria-hidden="true"><h3>Fax: (84-8) 3923 8521</h3><br></i>
            <h3>366 Nguyễn Trãi, Phường 8, Quận 5, Hồ Chí Minh</h3>
        </div>
        <!-- <i class="fa fa-facebook" aria-hidden="true"></i> -->
    </div>

</footer>