.footer {
    background: #4a4d55;
    height: 13rem;
    width: 100%;
    flex-direction: row;
    box-sizing: border-box;
    display: flow-root;
}

.icon_block {
    float: right;
    margin: 4% 8%;
    width: 23%;
}

.icon {
    float: left;
    border-radius: 50%;
    margin: 0 2px;
    margin: 10% 8%;
    font-size: 26px;
    text-align: center;
}

.icon:hover {
    animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
    transform: translate3d(0, 0, 0);
}

@keyframes shake {
    10%,
    90% {
        transform: translate3d(-1px, 0, 0);
    }
    20%,
    80% {
        transform: translate3d(2px, 0, 0);
    }
    30%,
    50%,
    70% {
        transform: translate3d(-4px, 0, 0);
    }
    40%,
    60% {
        transform: translate3d(4px, 0, 0);
    }
}

.info {
    width: 28.5rem;
    float: left;
    margin: 0;
    padding: 0 .9rem;
    font-family: 'Europa';
    color: #ffffff;
}

.info h3 {
    margin: 0;
    margin-left: .8rem;
}

.info i {
    padding-bottom: .2rem;
}

@media only screen and (min-width: 600px) {
    .info {
        padding: 3rem 1rem;
    }
    .icon {
        margin: 26% 7%;
    }
}

@media only screen and (min-width: 1024px) {
    .info {
        width: 35rem;
        padding: 3rem;
    }
    .icon {
        margin: 3% 8%;
    }
    .icon_block {
        margin: 5%;
    }
}