.footer{
    background: #4a4d55;
    height: 13rem;
    width: 100%;
    flex-direction: row;
    box-sizing: border-box;
    display: flow-root;
    }
    
    .icon_block{
        float: right;
        margin: 1% 8%;
        width: 10%;
    }
    .icon{
        float: left;
        background: #fff;
        border-radius: 50%;
        margin: 0 2px;
        width: 40px;
        height: 40px;
    
        margin: 20% 0;
        font-size: 26px;
           
        text-align: center;
    }
    
    .fa-facebook-f{
        padding-top: 20%;
        padding-left: 16%;
        color: #0053A7;
    }
    .fa-google-plus{
        padding-top: 20%;
    
        text-align: center;
        font-size: 26px;
    
        color: #dd4b39;
    
    }
    .fa{
        display: inline-flex;
        margin-bottom: .7rem;
        
    }
    .info{
        width: 28.25rem;
        float: left;
        margin: 0;
        padding: 0 .9rem;
        font-family: 'Europa';
        color: #ffffff;
   
    }
    .info h3{
        margin: 0;
        margin-left: .8rem;
    }
    .info i{
        padding-bottom: .2rem;
    }
    @media only screen and (min-width: 600px) {
        .info{
            padding: 2rem 1rem;
        
        }
        .icon_block[_ngcontent-c3] {
            float: right;
            margin: 1% 8%;
            width: 4%;
        }
    }