.container {
    margin-top: 5rem;
}

* {
    color: #3a343a;
}

.mat-toolbar {
    background: #fff;
}

.mat-toolbar-row {
    height: 100%;
    align-items: unset;
    text-align: center;
}

::ng-deep .mat-toolbar-row {
    width: 95%;
}

.content_name {
    margin-top: 3rem;
    font-size: 2.5rem;
    margin-left: 5%;
    line-height: calc(1em + 5px);
    font-weight: 700;
}

.paragraph {
    margin-bottom: 2rem;
    p {
        text-align: left;
        margin-left: 2%;
    }
    .content-top {
        margin-right: 11.5rem;
        float: left;
    }
}

.banner {
    border-top: 1px solid #615f5f;
    border-bottom: 1px solid #615f5f;
    margin: 2rem 2rem 3rem 2rem;
    img {
        width: 120%;
        margin: 2.5rem 0;
    }
}

.title_light {
    margin-left: 13%;
    padding: .7em 0;
    width: 72%;
    font-size: .8rem;
    line-height: calc(1.25em + 2px);
    color: #3a343a;
    p {
        margin-left: 7%;
    }
}

.main_title {
    font-size: 1.5rem;
    padding: 2em 0 0 1rem;
    width: 100%;
    font-weight: bold;
    color: #000000;
    background: #f3f3f5;
}

.main_content {
    width: 100%;
    text-align: left;
    font-size: 1rem;
    background: #f3f3f5;
    font-weight: 500;
    margin-bottom: 1rem;
    img {
        background: #f3f3f5;
        margin-left: 1%;
        margin-top: 5%;
        width: 30%;
        height: 50%;
    }
    p {
        margin-bottom: 3rem;
    }
}

.title_join_session {
    float: left;
    margin: 2rem 3rem;
    font-size: 2.5rem;
    font-weight: bold;
}

.main_join_session {
    float: left;
    // display: none;
}

.list_course {
    margin-left: 9%;
    margin-bottom: 5rem;
    width: 100%;
    display: block;
    mat-list-item {
        border-bottom: 1px solid #cecece;
        font-size: 1.5rem;
        font-weight: bold;
        height: 5.5rem;
        width: 61%;
        margin-left: 16%;
        p {
            float: left;
            font-size: 1.1rem;
            color: #3a343a;
        }
        .icon_course {
            background: rgba(184, 184, 184, 0.493);
            color: #2e06a2;
        }
        .icon_course:hover {
            color: #3e00cd;
        }
        h4 {
            line-height: 2rem;
            color: #1f1e1f;
        }
        h4:hover {
            color: #3e00cd;
            text-decoration-line: underline;
        }
        .btn_join_list {
            margin-left: 0%;
      
            background: transparent;
            border: 1px solid #ff3373;

            padding: 0 !important;
            border-radius: 5px;
            
        }
        .btn_join_list:hover {
            font-weight: bold;

            border: 1px solid #000000;
            color: #000000;
   

        }
    }
}

table {
    padding: 3rem 2rem;
    border-top: 1px solid #1f1e1f;
    border-collapse: collapse;
    margin-bottom: 5.5rem;
    background: #fffbfc;
}

table,
td,
th {
    border: 1px none #cecece;
    border-bottom-style: solid;
}

th {
    padding: 1rem 1rem;
}

td {
    padding: 1rem .3rem;
    font-size: .8rem
}

.info_table {
    border-bottom: none;
    font-size: 2.5rem;
    padding-bottom: 2.8rem;
    padding-top: 2rem;
    text-align: center;
}

.btn_table {
    button{
        border: 1px solid #ff3373;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
        // line-height: 0 !important;
        // padding: 0 !important;
    }
    button:hover{
        
        font-weight: bold;
        border: 1px solid #8a8184
    }

}

.stt {
    font-weight: bold;
}

// .btn_join {
//     line-height: 2px !important;
//     font-weight: bold;
//     margin-left: 1rem;
//     color: #ff3373;
//     background: transparent;
//     border: 3px solid #ff3373;
//     height: 1.8rem;
//     border-radius: 5px;
//     padding: 0rem 1.5rem;
// }

// .btn_join:hover {
//     background: #ff3373;
//     color: #fff;
// }

.mat-sort-header-container {
    align-items: center;
}
.more_course{
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    width: 100%;
}
.card-course{
    width: 30%;
    margin-top: 1em;
}

@media only screen and (max-width: 1024px) {
    .card-course{
        width: 50%;
    }
}

@media only screen and (min-width: 1024px) {

    table {
        padding: 3rem;
        border-top: 1px solid #1f1e1f;
        border-collapse: collapse;
        margin-left: 1%;
        margin-bottom: 5.5rem;
        background: #fffbfc;
    }
    table,
    td,
    th {
        border: 1px none #cecece;
        border-bottom-style: solid;
    }
    th {
        padding: 1rem 1.2rem;
    }
    td {
        padding: 1rem .5rem;
    }
    .info_table {
        border-bottom: none;
        font-size: 2.5rem;
        padding-bottom: 2.8rem;
        padding-top: 2rem;
        text-align: center;
    }
}

@media only screen and (min-width: 1028px) {
    .container {
        margin: auto;
        margin-top: 5rem;
        max-width: 1128px;
    }
    .paragraph {
        margin-bottom: 2rem;
        p {
            text-align: left;
            margin-left: 6%;
        }
        .content-top {
            margin-right: 14.6rem;
            float: left;
        }

    }
    .main_title {
        font-size: 1.5rem;
        padding: 2em 0 0 0;
        width: 100%;
        font-weight: bold;
        color: #000000;
        background: #f3f3f5;
    }
    .main_content {
        width: 100%;
        text-align: left;
        font-size: 1.2rem;
        font-weight: 500;
        img {
            margin-left: 4%;
            width: 35%;
        }
    }
    table {
        padding: 3rem;
        margin-left: 9.8%;
    }
}