.admin-header{
    top: 0;
    width: 100%;
    margin-bottom:1em;
    box-shadow: 0 0 20px #212b63;
}
.header--spacer {
    flex: 1 1 auto;
}
.mat-button:focus,
.mat-button:active{
    background-color: #33418f;
}
.setting-btn{
    min-width: auto;
}
