
  h1{
    color: primary;
  }
  mat-grid-tile {
    box-sizing: content-box;
  }

  .colCenter{
    border: 1px none #000000;
    border-left-style: solid;
    border-right-style: solid; 
  }
  .listNewCource{
    padding: 0;
    margin: 0;
  }
  .gridList{
    margin-top: 2rem; 
  }

  #container {
    width: 100%;
    margin: 1em auto;
    padding: 0;
    background:#fff;
    box-sizing: border-box;
}

.items {
    max-width:1200px;
    height:200px;
    background:#ECECEC;
}

#left, #right { 
    margin: 30px;
}

.title_new{
 text-align: center;
}